extends base.pug
include mixins/tweetCreateBlock

block content
    h4=user.id
    h4=user.email
    h4=user.password
    h4=user.nick
    h3 Tweet
    p ----------------------------------------------
    
    each tweet in tweets

        div
            div
                if tweet.reply
                    p reply for : `#{tweet.reply}`
                h3 tweet ID : #{tweet.id}
                if tweet.content
                    h4 Content : #{tweet.content}
                if tweet.file
                    if tweet.media === "image"
                        div
                            img(src=tweet.file alt=tweet.file)
                    else if tweet.media === "video"
                        div  
                            video(src=tweet.file alt=tweet.file controls=true) 
            div
                button(type='submit')#jsAddAnser 댓글
                div
                    +tweetCreateBlock({url: routes.tweetReply(tweet.id)})
                each like, index in user.likes
                    if like.id == tweet.id 
                        - var isLike = true
                    if isLike
                        div
                            button(type='submit' class="unlike" value=tweet.id)#jsAddLike.addLike 좋아요 취소
                        -break
                    if (index + 1)  > (user.likes.length - 1)
                        div
                            button(type='submit' value=tweet.id)#jsAddLike.addLike 좋아요
                else 
                    div
                        button(type='submit' value=tweet.id)#jsAddLike.addLike 좋아요
                
                p -----------------------------------------------
    each info in user.tweet
        h4=info.tweetId

    a(href=`${routes.tweet}${routes.tweetCreate}`) Tweet